.form-equipo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #00000075;
}

.form-equipo {
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  background-color: #ffffff25;
  backdrop-filter: blur(15px);
}